h1 {
  text-align: center;
  color: green;
}
img {
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.titre {
  color: red;
}
.item {
  color: green;
}
.titre .item {
  font-size: large;
}
* {
  background-color: cornsilk;
}
/* .item {
  color: grey;
}
.titre .item {
  background-color: aqua;
  font-size: bold;
} */
